<section id="main">

    <section id="content">
        <div class = "container" align="center">
            <img src="img/logo.png" alt="SchoolSmartLogo" style="width:50%">
        </div>

        <div class="container">
            <div class="login-content" align="center" data-ng-controller="loginCtrl as lctrl">
                <!-- Login -->
                <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.login === 1 }" data-ng-if="lctrl.login === 1">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Email Address" ng-model="login.emailAddress">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <a href="" class="btn btn-login btn-danger btn-float" ng-click="emailSignIn()"><i class="zmdi zmdi-arrow-forward"></i></a>

                    <ul class="login-navigation">
                        <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.login = 0; lctrl.register = 1">Register</li>
                        <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.login = 0; lctrl.forgot = 1">Forgot Password?</li>
                    </ul>
                </div>

                <!-- Register -->
                <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.register === 1 }" data-ng-if="lctrl.register === 1">
                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Username" ng-model="register.username">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Email Address" ng-model="register.emailAddress">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Password" ng-model="register.password">
                        </div>
                    </div>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                        <div class="form-group">
                            <div class="fg-line">
                                <div class="select">
                                    <select class="form-control" placeholder="Please select a school" ng-model="register.school" ng-options="key as value.name for (key, value) in schoolList">
                                        <option value="" disabled selected>Please select a school</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <i class="input-helper"></i>
                            Accept the license agreement
                        </label>
                    </div>

                    <a href="" class="btn btn-login btn-danger btn-float" ng-click="registerAccount()"><i class="zmdi zmdi-arrow-forward"></i></a>

                    <ul class="login-navigation">
                        <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.register = 0; lctrl.login = 1">Login</li>
                        <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.register = 0; lctrl.forgot = 1">Forgot Password?</li>
                    </ul>
                </div>

                <!-- Forgot Password -->
                <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgot === 1 }" data-ng-if="lctrl.forgot === 1">
                    <p class="text-left">If you have forgotten your password, please enter your email address below, and a support email will be sent to you shortly.</p>

                    <div class="input-group m-b-20">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" ng-model="support.emailAddress" placeholder="Email Address">
                        </div>
                    </div>

                    <a href="" class="btn btn-login btn-danger btn-float" ng-click="passwordReset()"><i class="zmdi zmdi-arrow-forward"></i></a>

                    <ul class="login-navigation">
                        <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.forgot = 0; lctrl.login = 1">Login</li>
                        <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.forgot = 0; lctrl.register = 1">Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
