<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'template/header-image-logo.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Page Title Goes Here</h2>
            </div>
            <!-- CONTENT CARDS AS BELOW-->
            <div class="card">
                <div class="card-header">
                    <h2>SchoolSmart <small>Hopefully it will work</small></h2>
                </div>
            </div>
            <!-- END CONTENT CARD-->
            <div class="row">
            </div>
        </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
